@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

header {
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    font-family: 'Orelega One', cursive;
    background-color: #1e90ff;
    color: white;
    text-align: center;
    margin: 0 25em;
}

.no-more-silence p {
    font-size: 20px;
}

.buttons button {
    font-family: 'Orelega One', cursive;
    font-size: 30px;
    border: 3px solid white;
    color: white;
    background-color: #1e90ff;
    padding: 10px 24px;
    display: block;
    text-align: center;
    margin: auto;
}

p {
    margin: 1em 8em;
}

.zoom-pic {
    margin: 0 20em 0 -2em;
}